<!--The content below is only a placeholder and can be replaced.-->

<nav class="navbar navbar-toggleable-md navbar-light bg-faded mb-2">
<div class="container">
  <a class="navbar-brand" href="#">Music App</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="music">Search</a>
      </li>
      <li class="nav-item"  routerLinkActive="active">
        <a class="nav-link" routerLink="playlists">My music</a>
      </li>
    </ul>
  </div>
</div>
</nav>


<div class="container">
  <div class="row">
    <div class="col">
      <button class="float-right" (click)="authorize()">Zaloguj</button>
      <!--<div (click)="hide = !hide">Toogle</div>-->
      
      <!--<sg-playlists *ngIf="hide"></sg-playlists>-->

      <!--<sg-music-search></sg-music-search>-->

      <router-outlet></router-outlet>

    </div>
  </div>
</div>